/* Basic Reset and Styling */
body, h1, h2, p, img, ul, li, a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.logo-header {
    text-align: center;
    padding: 10px 0;
    background-color: #f8f8f8; /* Light grey background */
    height: 100px;
}

.main-menu {
    width: 100%;
    background-color: #333; /* Dark background for the menu */
    padding: 10px 0;
}

.main-menu ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

.main-menu li {
    position: relative;
    margin: 0 15px;
}

.main-menu a {
    color: white;
    font-size: 16px;
    display: block;
}

.menu-item {
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    left: 0;
    background-color: #444;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.submenu li {
    text-align: left;
}

.menu-item:hover .submenu {
    display: block; /* Show submenu on hover */
}

header {
    position: relative;
    width: 100%;
}

header img {
    width: 100%;
    height: auto;
    display: block;
}

.page-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

/* Responsive header title positioning */
header .page-title {
    padding: 5px 10px; /* Adjust padding for smaller screens */
    font-size: 24px; /* Smaller font size for smaller screens */
}

.main-menu .burger-menu {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .main-menu ul {
        flex-direction: column;
    }

    .main-menu .burger-menu {
        display: block;
    }

    .main-menu ul, .submenu {
        width: 100%;  /* Ensures full width for smaller screens */
        display: none;
    }

    .main-menu.active ul,
    .main-menu li:hover .submenu {
        display: block; /* Ensure submenu can be toggled on small screens */
    }

    .submenu {
        position: static;  /* Changes submenu position on smaller screens */
    }

    .submenu li {
        display: block;
        width: 100%;
    }
    
    /* Stack the two columns into one column */
    .row {
        flex-direction: column;
    }

    .left-column, .right-column {
        margin: 10px 0;
    }
}

.cta-button a {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.cta-button a:hover {
    background-color: #0056b3;
}

main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.full-width-area {
    padding: 20px;
    background-color: #f2f2f2; /* Light gray background, adjust as necessary */
    text-align: center; /* Centers the text within the area */
    margin-bottom: 20px; /* Space between this area and the two-column rows */
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Adds space between rows */
}

.left-column, .right-column {
    flex: 1;
    margin: 0 10px;
}

/* Responsive image adjustments */
.left-column img, .right-column img {
    max-width: 100%;
    height: auto;
}

footer {
    width: 100%;
    background-color: #333; /* Dark background for footer */
    color: white;
    padding: 10px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
}

footer p {
    margin: 0;
}

footer ul {
    display: flex;
    list-style: none;
}

footer ul li {
    margin-left: 20px;
}

footer a {
    color: white;
    font-size: 16px;
}
